In [2]:
# Hello world

x <- sample(seq_len(1000), 1)
x

[1] 961

In [3]:
# Hello iris

head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [5]:
# Bye

if (x %/% 2 == 0) cat("bye") else cat("buh-bye")

buh-bye